body {
    background-color: white;
    animation-duration: 1000ms;
    animation-name: background-fade-in;
}

@keyframes background-fade-in {
    from {
        background-color: black;
    }
    to {
        background-color: white;
    }
}